!!!
%html
  %head
    != js :app
    != css :jquery_ui, :media => 'screen'
    -#!= css :application, :media => 'screen'
  %body{ class: request.path_info.split('/').compact.empty? ? 'root' : request.path_info.split('/').compact.first.to_s }
    .page
      %header.page__header
        .page__bucket
          %h1
            %a{ href: '/'} GGI Data Portal
          %nav
            %ul
              - ['about', 'help', 'download'].each do |n|
                %li
                  %a{ href: "/#{n}" }
                    - if request.path_info == "/#{n}"
                      %strong= n.capitalize
                    - else
                      = n.capitalize
      = yield
      %footer.page__footer
        .page__bucket
          %h2 Sponsors
          %ul
            %li
              %a{ href: 'http://ggi.si.edu'} GGI
            %li
              %a{ href: 'http://eol.org' } Powered by EOL
