!!!
%html
  %head
    %link{ rel: 'stylesheet', href: 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', type: 'text/css' }
    %script{ src: 'http://code.jquery.com/jquery-1.9.1.js' }
    %script{ src: 'http://code.jquery.com/ui/1.10.3/jquery-ui.js' }
    != js :app
    -# != css :application, :media => 'screen'
  %body{ class: request.path_info.split('/').compact.empty? ? 'root' : request.path_info.split('/').compact.first.to_s }
    .page
      %header.page__header
        %div
          %h1
            %a{ href: '/'} GGI Portal
          %nav
            %ul
              - ['about', 'help', 'download'].each do |n|
                %li
                  %a{ href: "/#{n}" }
                    - if request.path_info == "/#{n}"
                      %strong= n.capitalize
                    - else
                      = n.capitalize
      = yield
      %footer.page__footer
        %div
          %h2 Sponsors
          %ul
            %li
              %a{ href: 'http://ggi.si.edu'} GGI
            %li
              %a{ href: 'http://eol.org' } Powered by EOL
