!!!
%html
  %head
    %title GGI Data Portal
    %meta{ name: 'viewport', content: 'width=device-width' }
    != css :application, :media => 'screen'
    != js :app
  %body{ class: request.path_info.split('/').compact.empty? ? 'root' : request.path_info.split('/').compact.first.to_s }
    .page
      %header.page__header
        .page__bucket
          %h1.site-title
            %a{ href: '/'} GGI Data Portal
          %nav.site-navigation
            %ul
              - ['about', 'help', 'download'].each do |n|
                %li
                  %a{ href: "/#{n}" }
                    - if request.path_info == "/#{n}"
                      %strong= n.capitalize
                    - else
                      = n.capitalize
      = yield
      %footer.page__footer
        .page__bucket
          %h2 Sponsors
          %ul
            %li
              %a.footer__link--ggi{ href: 'http://ggi.si.edu'}
                %img{ src: '/images/smithsonian-ggi-logo.png', alt: "Smithsonian National Museum of Natural History Global Genome Initiative"}
            %li
              %a.footer__link--eol{ href: 'http://eol.org' }
                %img{ src: '/images/powered-by-eol.png', alt: "Powered by the Encyclopedia of Life"}
