%a{ name: '.' }

.page__content
  .page__bucket
    %section.browser
      %nav
        %ul.tabs
          - phylo = params[:browse_by] == 'phylogeny'
          %li{ class: phylo ? nil : 'browser__nav--current'}
            %a{ class: phylo ? nil : 'current', href: "#{request.path_info}?browse_by=taxonomy" } Taxonomy
          %li{ class: phylo ? 'browser__nav--current' : nil}
            %a{ class: phylo ? 'current' : nil, href: "#{request.path_info}?browse_by=phylogeny" } Phylogeny

      - if params[:browse_by] == 'phylogeny'
        %h2 Browse phylogeny
        .tree__wrapper.tree__wrapper--phylogeny
          = haml :_phylogeny, layout: false
      - else
        %h2 Browse taxonomy
        .tree__wrapper.tree__wrapper--taxonomy
          %section.search
            %h2 Search
            %form#search_form{ method: 'get', action: '/search' }
              %label{for: 'search_term'}
                Scientific or common name
                %small
                  For example, enter
                  %em Solanaceae
              .term
                %input#search_term{ type: :search, name: 'search_term',
                  placeholder: 'Enter scientific or common name',
                  value: params[:scientific_name] }
              .actions
                %input{ type: :submit, value: 'Search'}
          = haml :_taxonomy, layout: false, locals: { taxon: @taxon }
      .legend
        .assessment__legend
          %header.legend__header
            %h3 Legend
          .legend__list
            %dl
              %dt.legend__label--good 
                %span Good:
              %dd.legend__definition--good
                %span
                  = score_icon('good')
                  81 to 100
              %dt.legend__label--average 
                %span Average:
              %dd.legend__definition--average
                %span
                  = score_icon('average')
                  51 to 80
              %dt.legend__label--poor
                %span Poor:
              %dd.legend__definition--poor
                %span
                  = score_icon('poor')
                  0 to 50
        %p.assessment__definition
          Scores reflect the relative amount of knowledge of this taxonomic clade.
          %a.info{ title: 'Explanation of assessment scale', href: '/help' } ?

    = yield

