.page__subheader
  %aside.tagline
    %h2 About the site
    %p Tagline for the site
  %section.search
    %h2 Search
    %form#search_form{ method: 'get', action: '/search' }
      %label{for: 'search_term'}
        Scientific or common name
        %small
          For example, enter
          %em Solanaceae
          or
          %em Solanales
      %input#search_term{ type: :search, name: 'search_term',
        placeholder: 'Enter scientific or common name',
        value: params[:scientific_name] }
      %input{ type: :submit, value: 'Search'}

.page__content
  %section.browser
    %nav
      %ul
        %li
          %a{ href: "#{request.path_info}?browse_by=taxonomy" } Taxonomy
        %li
          %a{ href: "#{request.path_info}?browse_by=phylogeny" } Phylogeny

    - if params[:browse_by] == 'phylogeny'
      .phylogeny
        = haml :_phylogeny, layout: false
    - else
      .taxonomy
        = haml :_taxonomy, layout: false, locals: { taxon: @taxon }

  = yield

