- ancestors = taxon.ancestors
- children = taxon.children
- siblings = taxon.siblings
%ul.tree.tree--taxonomy
  - ancestors.each do |a|
    = tree_item(a, :expanded) + "<ul>"
  = tree_item(taxon, children.count > 0 ? :expanded : :collapsed)
  - if children.count > 0
    %ul
      - children.each do |c|
        = tree_item(c, :collapsed)
  - siblings.each do |s|
    = tree_item(s, :collapsed)
  = "</ul>" * ancestors.length
