- ancestors = taxon.ancestors
- children = taxon.children
- siblings = taxon.siblings
%h2 Browse taxonomy
%ul
  - ancestors.each do |a|
    = show_node(a, :expanded) + "<ul>"
  = show_node(taxon, children.count > 0 ? :expanded : :collapsed)
  - if children.count > 0
    %ul
      - children.each do |c|
        = show_node(c, :collapsed)
  - siblings.each do |s|
    = show_node(s, :collapsed)
  = "</ul>" * ancestors.length
