- if @taxon
  %article.taxon
    %header.taxon__header
      %h1
        = "%s %s" % [ @taxon.rank, @taxon.name ]
      - if @taxon.english_vernacular_name
        %p= @taxon.english_vernacular_name

    %section.taxon__information
      %header.information__header
        %h2 Taxonomic information
      %dl.information--nomenclature
        - unless @taxon.classification_summary.empty?
          %dt.information--classification Classification
          %dd.information--classification
            = @taxon.classification_summary.map{ |t| "<a href='#{taxon_path(t)}'>#{t.name}</a>" }.join(" &gt; ")
        %dt.information--scientific-name Scientific name
        %dd.information--scientific-name= @taxon.name
        - if @taxon.english_vernacular_name
          %dt.information--common-name English common name
          %dd.information--common-name= @taxon.english_vernacular_name
      %dl.information--assessment
        - if @taxon.family?
          %dt.information--score Total score
        - else
          %dt.information--score Average score
        %dd.information--score= formatted_score(@taxon.score)
        - unless @taxon.family?
          %dt.information--family-count Number of families
          %dd.information--family-count= @taxon.number_of_families
        %dt.information--source Source
        %dd.information--source= @taxon.source
      - if @taxon.image
        %figure.information__media
          %img{ src: @taxon.image[:eolThumbnailURL], alt: "Image of #{@taxon.name}" }
          %figcaption
            - if @taxon.image[:agents]
              - @taxon.image[:agents].each do |agent|
                %dt= agent[:role]
                %dd
                  - if agent[:homepage] && agent[:homepage] != ''
                    - agent[:homepage] = "http://#{agent[:homepage]}" unless agent[:homepage].start_with?('http://')
                    %a{ href: agent[:homepage] }= agent[:full_name]
                  - else
                    = agent[:full_name]
            - if @taxon.image[:rightsHolder]
              %dt Rights holder
              %dd= @taxon.image[:rightsHolder]
            - if @taxon.image[:rights]
              %dt Rights
              %dd= @taxon.image[:rights]
            - if @taxon.image[:license]
              %dt License
              %dd
                - if @taxon.image[:license].start_with?('http://')
                  %a{ href: @taxon.image[:license] }= @taxon.image[:license]
                - else
                  = @taxon.image[:license]
    - if @taxon.family?
      %section.taxon__assessment
        %header.assessment__header
          %h2 Assessment
        %table
          %caption.assessment__caption= "Assessment of knowledge about #{@taxon.name}"
          %thead
            %tr
              %th{ scope: 'col' } Source
              %th{ scope: 'col' } Value
              %th{ scope: 'col' } Score
          %tbody
            - if @taxon.measurements.empty?
              %tr
                %td{ colspan: 3 }
                  No measurements were found
            - @taxon.measurements.each do |measurement|
              - score = measurement[:score].to_f
              - # FIXME add helper method to set html class for styling poor, average, good
              - klass = nil
              %tr
                %th{ scope: 'row' }= measurement[:label]
                %td= measurement[:measurementValue]
                %td{ class: klass }= formatted_score(measurement[:score])
        %aside
          %header
            %h3 Legend
          %p Measurement of knowledge
          %dl
            %dt Good
            %dd 0.64 to 1.0
            %dt Average
            %dd 0.34 to 0.63
            %dt Poor
            %dd 0 to 0.33

- else
  %p Taxon information is missing
