- if @taxon
  %article
    %header
      %h1
        = "%s %s" % [ @taxon.rank, @taxon.name ]
      - if @taxon.english_vernacular_name
        %p= @taxon.english_vernacular_name

    %section.information
      %header
        %h2 Taxonomic information
      %dl
        - unless @taxon.classification_summary.empty?
          %dt Classification
          %dd
            = @taxon.classification_summary.map{ |t| "<a href='#{taxon_path(t)}'>#{t.name}</a>" }.join(" &gt; ")
        %dt Scientific name
        %dd= @taxon.name
        - if @taxon.english_vernacular_name
          %dt English common name
          %dd= @taxon.english_vernacular_name
        - unless @taxon.family?
          -# FIXME count families
          %dt Number of families
          %dd ??
        %dt Source
        %dd= @taxon.source
        - if @taxon.family?
          %dt Total score
          %dd= formatted_score(@taxon.score)
      - if @taxon.image
        %figure
          %img{ src: @taxon.image[:eolThumbnailURL], alt: "Image of #{@taxon.name}" }
          - [:rightsHolder, :rights, :license].each do |attribute|
            - if @taxon.image[attribute]
              %p= @taxon.image[attribute]

    - if @taxon.family?
      %section.assessment
        %header
          %h2 Assessment
        %table
          %caption= "Assessment of knowledge about #{@taxon.name}"
          %thead
            %tr
              %th{ scope: 'col' } Source
              %th{ scope: 'col' } Value
              %th{ scope: 'col' } Score
          %tbody
            - if @taxon.measurements.empty?
              %tr
                %td{ colspan: 3 }
                  No measurements were found
            - @taxon.measurements.each do |measurement|
              - score = measurement[:score].to_f
              - # FIXME add helper method to set html class for styling poor, average, good
              - klass = nil
              %tr
                %th{ scope: 'row' }= measurement[:label]
                %td= measurement[:measurementValue]
                %td{ class: klass }= formatted_score(measurement[:score])
        %aside
          %header
            %h3 Legend
          %p Measurement of knowledge
          %ul
            %li 0.64 to 1.0 Good
            %li 0.34 to 0.63 Average
            %li 0 to 0.33 Poor

- else
  %p Taxon information is missing
